.user__container {
  height: calc(100vh - 100px);
  flex: 4;

  .user {
    margin-top: 65px;
    padding: 0 60px;

    @include respond(tab-port) {
      margin-top: 25px;
      padding: 0 20px;
    }

    .backButton {
      margin-bottom: 32px;

      a {
        display: flex;
        gap: 1rem;
        text-decoration: none;
      }

      .icon {
        width: 27px;
        height: 10px;

        @include respond(tab-land) {
          width: 23px;
        }

        @include respond(tab-port) {
          width: 18px;
          height: 8px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
      .text {
        font-size: $font16;
        color: $text-color;

        @include respond(tab-land) {
          font-size: $font14;
        }

        @include respond(tab-port) {
          font-size: $font12;
        }
      }
    }

    .topSection {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: $font24;
        color: $color-primary;
        font-weight: $weight500;

        @include respond(tab-land) {
          font-size: $font22;
        }

        @include respond(tab-port) {
          font-size: $font18;
        }
      }

      .user__btn {
        display: flex;
        gap: 20px;
        text-transform: uppercase;

        .blackUser {
          color: #e4033b;
          border: 1px solid #e4033b;
        }
        .actUser {
          color: $custom-color;
          border: 1px solid $custom-color;
        }
      }
    }

    &__card {
      margin-top: 40px;
      margin-bottom: 30px;
      width: 100%;
      box-shadow: $shadow;
      border: 1px solid rgba(33, 63, 125, 0.06);

      @include respond(tab-port) {
        margin-top: 20px;
        margin-bottom: 15px;
      }

      &-container {
        padding: 30px 30px 0 30px;

        @include respond(tab-port) {
          padding: 15px 0px 0 0px;
        }
        .top {
          display: flex;
          align-items: center;
          gap: 1.875rem;
          margin-bottom: 51px;

          @include respond(tab-port) {
            margin-bottom: 30px;
          }

          .user__profile {
            display: flex;
            align-items: center;
            gap: 20px;

            &-img {
              height: 100px;
              width: 100px;
              display: flex;
              align-items: center;
              justify-content: center;

              @include respond(tab-land) {
                height: 80px;
                width: 80px;
              }

              @include respond(tab-port) {
                height: 60px;
                width: 60px;
              }

              @include respond(phone) {
                height: 40px;
                width: 40px;
              }

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
            &-detail {
              span {
                font-size: $font22;
                font-weight: $weight500;
                color: $color-primary;
                margin-bottom: 8px;

                @include respond(tab-land) {
                  font-size: $font20;
                }

                @include respond(tab-port) {
                  font-size: $font16;
                  margin-bottom: 5px;
                }

                @include respond(phone) {
                }
              }
              p {
                font-size: $font14;
                font-weight: $weight400;
                color: $text-color;

                @include respond(tab-land) {
                  font-size: $font12;
                }

                @include respond(tab-port) {
                  font-size: $font10;
                }

                @include respond(phone) {
                  font-size: $font8;
                }
              }
            }
          }

          .line {
            height: 80px;
            width: 0px;
            color: $text-color;
            border: 1px solid $text-color;
            opacity: 0.2;

            @include respond(tab-port) {
              height: 50px;
            }

            img {
              height: 100%;
            }
          }

          .user__rank {
            p {
              margin-bottom: 11.29px;
              font-weight: $weight500;
              font-size: $font14;
              color: $text-color;

              @include respond(tab-land) {
                font-size: $font12;
              }

              @include respond(tab-port) {
                font-size: $font10;
              }
            }
            span {
              display: flex;
              align-items: center;
              gap: 5.55px;

              img {
                width: 14px;
                height: 13.5px;

                @include respond(tab-land) {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }

          .user__account {
            color: $color-primary;

            .amount {
              font-size: $font22;
              font-weight: $weight500;

              @include respond(tab-land) {
                font-size: $font20;
              }

              @include respond(tab-port) {
                font-size: $font16;
              }

              @include respond(phone) {
                font-size: $font14;
              }
            }
            p {
              font-size: $font12;
              font-weight: $weight400;

              @include respond(tab-land) {
                font-size: $font10;
              }

              @include respond(tab-port) {
                font-size: $font8;
              }
            }
          }
        }

        .bottom {
          display: flex;
          align-items: space-between;
          justify-content: space-between;
          padding: 0 6px;
          .text {
            font-weight: $weight400;
            font-size: $font16;
            color: #000;

            @include respond(tab-land) {
              font-size: $font14;
            }

            @include respond(tab-port) {
              font-size: $font10;
            }
          }
          .active {
            color: $custom-color;
            border-bottom: 2px solid $custom-color;
            text-align: center;
            width: 160px;
            padding-bottom: 10px;

            @include respond(tab-land) {
              width: 130px;
            }

            @include respond(tab-port) {
              width: 100px;
            }
          }
        }
      }
    }

    &__info {
      width: 100%;
      box-shadow: $shadow;
      border: 1px solid rgba(33, 63, 125, 0.06);
      padding: 30px;

      @include respond(tab-port) {
        padding: 20px 10px;
      }

      &-container {
        min-width: 150px;

        .heading {
          color: $color-primary;
          font-size: $font16;
          font-weight: $weight500;
          margin-bottom: 30px;

          @include respond(tab-land) {
            font-size: $font14;
          }

          @include respond(tab-port) {
            font-size: $font12;
          }

          @include respond(phone) {
            font-size: $font10;
          }
        }
        .content {
          display: flex;
          gap: 30px;
          flex-wrap: wrap;

          @include respond(tab-port) {
            gap: 20px;
          }
          .details {
            min-width: 150px;

            @include respond(tab-land) {
              min-width: 120px;
            }

            @include respond(tab-port) {
              min-width: unset;
            }

            .sub-heading {
              text-transform: uppercase;
              font-weight: $weight400;
              font-size: $font12;
              opacity: 0.6;
              margin-bottom: 30px;

              @include respond(tab-land) {
                font-size: $font10;
              }

              @include respond(tab-port) {
                margin-bottom: 20px;
              }

              @include respond(phone) {
                font-size: $font8;
              }
            }
            .detail {
              font-size: $font16;
              font-weight: $weight500;
              color: $text-color;
              margin-bottom: 30px;

              @include respond(tab-land) {
                font-size: $font14;
              }

              @include respond(tab-port) {
                font-size: $font12;
                margin-bottom: 20px;
              }

              @include respond(phone) {
                font-size: $font10;
              }
            }
          }
        }
      }

      hr {
        border: 1px solid rgba($color-primary, 0.1);
        margin-bottom: 30px;
      }
    }
  }
}
