.card {
  width: 100%;
  height: 6.875rem;
  padding: 20px 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background: #ffffff;
  margin: 40px 0;

  @include respond(tab-port) {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    @include respond(tab-port) {
      width: 1.8rem;
      height: 1.8rem;
    }

    span {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .name {
    font-size: $font14;
    font-weight: $weight500;
    color: $text-color;
    text-transform: uppercase;

    @include respond(tab-land) {
      font-size: $font12;
    }

    @include respond(tab-port) {
      font-size: $font10;
    }

    @include respond(phone) {
      font-size: $font8;
    }
  }

  .amount {
    color: $color-primary;
    font-size: $font24;
    font-weight: $weight600;

    @include respond(tab-land) {
      font-size: $font20;
    }

    @include respond(tab-port) {
      font-size: $font16;
    }

    @include respond(phone) {
      font-size: $font14;
    }
  }
}
