$color-primary: #213f7d;

$text-color: #545f7d;

$custom-color: #39cdcc;

$active-pill: #39cd62;

$pageContainer: #fbfbfb;

$shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

$border: 1px solid rgba(84, 95, 125, 0.04);

$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;

$font6: 6px;
$font8: 8px;
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font32: 32px;
$font40: 40px;
