.form {
  &-title {
    font-size: $font40;
    font-weight: $weight700;
    color: $color-primary;

    @include respond(tab-port) {
      font-size: $font32;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  &-text {
    font-size: $font20;
    font-weight: $weight400;
    color: $text-color;
    margin-top: 1.25rem;
    margin-bottom: 3.75rem;

    @include respond(tab-port) {
      font-size: $font18;
      margin-top: 1rem;
      margin-bottom: 2.75rem;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  .input {
    position: relative;
    width: 27rem;
    height: 3.1rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    overflow: hidden;
    
    input {
      height: 100%;
      width: calc(100% - 1rem);
      border: none;
      
      &:focus {
        outline: none;
      }
  
      &::placeholder {
        color: $text-color;
        opacity: 0.6;
        
      }
    }

    @include respond(tab-land) {
      width: 20rem;
    }

    @include respond(phone) {
      width: 22rem;
    }
    span {
      position: absolute;
      top: 40%;
      right: 5%;
      cursor: pointer;

      color: $custom-color;
      font-weight: $weight600;
      font-size: $font12;
    }
  }
  &-forgotPassword {
    color: $custom-color;
    font-size: $font12;
    font-weight: $weight600;
    margin-bottom: 1.875rem;
    cursor: pointer;
  }
  &-btn {
    width: 28rem;
    height: 3rem;
    background-color: $custom-color;
    color: #fff;
    border: none;

    @include respond(tab-land) {
      width: 21rem;
    }

    @include respond(phone) {
      width: 23.5rem;
    }
  }
}
